h3 {
    color: #191970;
    margin: 40px;
}

h5 {
    margin-top: 50px;
    font-weight: bold;
    font-size: 5;
    padding: 30px
}

.table-container {
    margin-right:30px;
    margin-left:30px;
}


.table {
    width:100%;
    font-size: 6;
}

.form1 {
    margin-left: 30px;

}
.login, .register, .saved_form{
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  select .change_color a:hover {
    background: black !important;
    color: white;
  }

  .medium-table {
    width:70%;
    background:#fff;
    margin:40px auto;
    padding-bottom: 20px;

}

.small-table {
    width:30%;
    background:#fff;
    margin:40px auto;
    padding-bottom: 20px;

}

.elevated{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

#parent { 
    float: right; 
    width: 100%;
    overflow: hidden;
}

.clear {
    clear: both;
    text-align: center;
    height: 37px;
    border: 3px dashed pink;
  }
  .clear:after {
    position: static;
    content: 'Block sibling with clearance';
    color: pink;
  }