h3 {
    color: #191970;
    margin: 40px;
}

h5 {
    color: ##696969;
    margin-left: 60px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 5;
}

.table {
    margin-top: 30px;
    font-size: 6;
}

.heading{
    margin-left:50px;
}

