{% extends "layout.html" %}

{%block title %}
    New spending
{% endblock %}

{% block main %}
    {% if warning == 'success' %}
    <div class="alert alert-success text-center" role="alert">
        Added!
    </div>
    {% elif warning == 'failure' %}
    <div class="alert alert-danger text-center" role="alert">
        Please, select table and row.
    </div>
    {% endif %}
    <p>table trows = {{table_rows}} table = {{table}}</p> 
    <form action='/add_spend' method="POST">
        <div class="form-group col-4" >
            <select required class="form-control" id="choose_table" name="chosen_table" onchange='if(this.value != 0) { this.form.submit(); }'>
                {% if table == Null %}
                    <option> Select Table </option>
                {% else %}
                    <option> {{table}} </option>

                {% endif %}
                <option value="Monthly Budget">Monthly Budget</option>
                <option value="Daily Budget">Daily Budget</option>
              </select>
        </div>

        {% if table != Null %}
        <div class="form-group col-4">
            <select class="form-control" id="choose_table" name="chosen_row" required>
                {% for i in table_rows %}
                    {% for key, value in i.items() %}
                        {% if key == 'item' %}
                            <option>{{value}} </option>  
                        {% endif %} 
                    {% endfor %}  
                {% endfor %}                
              </select>
        </div>
        {% endif %}

        <div class="form-group col-4">
             <label for="item_bought">Item</label>
            <input type="text" class="form-control" name="item_bought" required>      
        </div>
        <div class="form-group col-4">
            <label for="price">Price</label>
            <input type="number" step=".01" min='0' class="form-control" name="price" required>      
            </div>
        <div class="form-group col-4">
        <label for="store">Store</label>
        <input type="text" class="form-control" name="store" value='-'>
        </div>
        <div class="form-group col-4">
            <label for="payment">Payment Method</label>
            <input type="text" class="form-control" name="payment" value='-'>
        </div>
        <div class="form-group col-4">
            <label for="obs">Observation</label>
            <input type="text" class="form-control" name="obs" value='-'>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary" name="login_submit">Submit</button>
        </div>
    </form>
{% endblock %}