{% extends "layout.html" %}

{%block title %}
History of savings
{% endblock %}

{% block main %}
<div class="medium-table elevated">
  <div class="table-card-title col-6 offset-3 text-center">
    <h5> {{table}} - {{item}} </h5>
  </div>
  <div class="table-container">
    <table class="table  col-12 text-left  class="collapse" id="incometable" type="text">
      <thead>
        <tr>
          <th scope="col">Paid value</th>
          <th scope="col">Obs</th>
          <th scope="col">Date</th>

        </tr>
      </thead>

      <tbody>
        {% for i in info %}
        <tr>
          <!-- Create a new row and then add cells-->
          <th scope="row">${{ '%0.2f'| format(i["value"]) }}</th>
          {% for key, value in i.items() %}
          {% if key == 'obs'  %}
          <td>{{ value }}</td>
          {% elif key == 'date' %}
          <td>{{ value.strftime('%d-%m-%Y %H:%M:%S') }}</td>
          {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}