{% extends "layout.html" %}

{%block title %}
Register
{% endblock %}

{% block main %}
{% if warning == 'not available' %}
<div class="alert alert-danger text-center" role="alert">
    Username not available!
</div>
{% endif %}
<div class="small-table elevated">
    <div class="table-container">
        <div class="table-card-title col-6 offset-3 text-center">
            <h5> Log in</h5>
        </div>
        <div class="register">
            <form action='/register' method="post">
                <div class="form-group col-12">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" pattern=".{4,}" required
                        title="4 characters minimum">
                </div>
                <div class="form-group col-12">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" pattern=".{8,}" required
                        title="8 characters minimum">
                </div>
                <div class="form-group col-12">
                    <label for="confirm_pass">Password confirmation</label>
                    <input type="password" class="form-control" name="conf_password">
                    {% if no_confir_password=='True' %}
                    <small class="form-text text-danger">Must match the provided password</small>
                    {% endif %}
                </div>
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary" id="reg_submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}