{% extends "layout.html" %}

{%block title %}
Set budget
{% endblock %}

{% block main %}
{% if message != '' %}
<div class="alert alert-dark text-center" role="alert">
  {{message}}
</div>
{% endif %}

<!-- First Dropdown selection menu (choose table)-->
<main>
  <div class="medium-table elevated">
    <form method="POST" action="/set">
      <div class="form-group col-12">
        <select class="form-control" id="choose_table" name="chosen_table"
          onchange='if(this.value != 0) { this.form.submit();  }'>
          <option> Select table </option>
          <option value="Income">Income </option>
          <option value="Monthly Budget">Monthly Budget</option>
          <option value="Daily Budget">Daily Budget</option>
          <option value="Savings">Savings</option>
        </select>
      </div>
    </form>
  </div>
  {% if title != 'None' %}
  <!-- Create table -->
  <div class="medium-table elevated">
    <div class="table-container">
      <table class="table" id="table-striped">
        <thead>
          <tr>
            {% if title == "Income" %}
            <th scope="col">Item</th>
            <th scope="col">Value</th>
            <th scope="col">Update</th>


            {% elif title == 'Monthly Budget' or title == 'Daily Budget' %}
            <th scope="col">Item</th>
            <th scope="col">Fixed Value</th>
            <th scope="col">Expected for the month</th>
            <th scope="col">Spend</th>
            <th scope="col">Available</th>
            <th scope="col">Update</th>


            {% elif title == 'Savings' %}
            <th scope="col">Item</th>
            <th scope="col">Fixed Value</th>
            <th scope="col">Expected for the month</th>
            <th scope="col">Saved</th>
            <th scope="col">Available</th>
            <th scope="col">Update</th>


            {% endif %}
          </tr>
        </thead>
        <tbody>
          <div class="table-card-title col-4 offset-4 text-center">
            <h5>{{title}} </h5>
          </div>

          <!-- Read the n variable to get different stocks -->
          {% for i in table_values %}
          <form action="/update_table" method="POST">
            <!-- Create a new row and then add cells-->
            <th> <input type="text" name="set_item" value="{{i['item']}}"></th>
            {% for key, value in i.items() %}

            <!--p>{{key, value}}</p-->
            {% if key == 'spent' or key == 'available' or key == 'saved' %}
            <td>{{ value }}</td>
            {% elif value != None and key == 'value' %}
            <td><input type="number" step=".01" min='0' name="set_value" value="{{value}}"></td>
            {% elif value != None and key == 'fixed' %}
            <td><input type="number" step=".01" min='0' name="set_fixed" value="{{value}}"></td>
            {% elif value != None and key == 'expected' %}
            <td><input type="number" step=".01" min='0' name="set_expected" value="{{value}}"></td>
            {% elif value == None %}
            <td contenteditable="true"> - </td>
            {% elif key == 'id' %}
            <input type="hidden" name="row_id" value="{{value}}">
            <input type="hidden" name="table_id" value="{{title}}">
            {% endif %}
            {% endfor %}
            <td>
              <button type="submit" class="btn btn-dark btn-rounded btn-sm my-0" name="save_btn">Save</button>
              <button type="submit" class="btn btn-dark btn-rounded btn-sm my-0" name="remove_btn">Remove</button>

            </td>
          </form>
          </tr>
          {% endfor %}
        </tbody>
        {% endif %}
      </table>
    </div>
  </div>


  <!-- Forms to add new row according to each table-->
  <div class="medium-table elevated">
    {% if title == "Income" %}
    <div class="table-card-title col-4 offset-4 text-center">
      <h5> Add new row</h5>
    </div>
    <div class="table-container">
      <form method="POST" action="/add_row">
        <div class="form-row">
          <div class="form-group col-md-4">
            <input type="text" class="form-control" name="item" required placeholder="New item">
          </div>
          <div class="form-group col-md-6">
            <input type="number" step="0.01" class="form-control" name="value" required placeholder="Value">
          </div>
          <input type="hidden" class="form-control" name="add_row" value="Income">
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-dark">Submit</button>
          </div>
        </div>
      </form>
    </div>


    {% elif title == 'Monthly Budget'%}

    <div class="table-card-title col-4 offset-4 text-center">
      <h5> Add new row</h5>
    </div>
    <div class="table-container">
      <form method="POST" action="/add_row">
        <div class="form-row">
          <div class="form-group col-md-4">
            <input type="text" class="form-control" name="item" required placeholder="New item">
          </div>
          <div class="form-group col-md-3">
            <input type="number" step=".01" class="form-control" name="fixed" required placeholder="Value">
          </div>
          <div class="form-group col-md-3">
            <input type="number" step=".01" class="form-control" name="expected" required placeholder="Value">
          </div>
          <input type="hidden" class="form-control" name="add_row" value="Monthly Budget">
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-dark">Submit</button>
          </div>
        </div>
      </form>
    </div>


    {% elif title == 'Daily Budget'%}
    <div class="table-card-title col-4 offset-4 text-center">
      <h5> Add new row</h5>
    </div>
    <div class="table-container">
      <form method="POST" action="/add_row">
        <div class="form-row">
          <div class="form-group col-md-4">
            <input type="text" class="form-control" name="item" required placeholder="New item">
          </div>
          <div class="form-group col-md-3">
            <input type="number" step=".01" class="form-control" name="fixed" required placeholder="Value">
          </div>
          <div class="form-group col-md-3">
            <input type="number" step=".01" class="form-control" name="expected" required placeholder="Value">
          </div>
          <input type="hidden" class="form-control" name="add_row" value="Daily Budget">
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-dark">Submit</button>
          </div>
        </div>
      </form>
    </div>

    {% elif title == 'Savings'%}

    <div class="table-card-title col-4 offset-4 text-center">
      <h5> Add new row</h5>
    </div>
    <div class="table-container">
      <form method="POST" action="/add_row">
        <div class="form-row">
          <div class="form-group col-md-4">
            <input type="text" class="form-control" name="item" required placeholder="New item">
          </div>
          <div class="form-group col-md-3">
            <input type="number" step=".01" class="form-control" name="fixed" required placeholder="Value">
          </div>
          <div class="form-group col-md-3">
            <input type="number" step=".01" class="form-control" name="expected" required placeholder="Value">
          </div>
          <input type="hidden" class="form-control" name="add_row" value="Savings">
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-dark">Submit</button>
          </div>
        </div>
      </form>
    </div>

    {% endif %}
  </div>
</main>

{% endblock %}