{% extends "layout.html" %}

{%block title %}
    Settings
{% endblock %}

{% block main %}
    <!-- Create forms and buttons -->
    <form action="/settings" method="post">
        <div class="form-group">
            <input type="text" autocomplete="off" autofocus class="form-group" name="name_share" placeholder="Symbol">
        </div>
        <div class="form-group">
            <input type="number" autocomplete="off" autofocus class="form-group" name="n_shares" placeholder="Number of Shares">
        </div>
        <button class="btn btn-primary" type="buy">Buy!</button>
    </form>

{% endblock %}